head
  link(rel="stylesheet", href="/stylesheets/style.css")

body
  .header
    h1 Simple Blog (Admin)
    span.front-message Welcome 
      span #{user.name}
  .main
    a.create-post-button(href='/create') Create a post
    .post-container
      for post in posts 
        .post
          .title-container
            .title
              div #{post.title}
              div #{post.published ? 'PUBLISHED' : 'NONPUBLISHED'}
            .buttons
              a(href=`/${post._id}/delete`) Delete
              a(href=`/${post._id}/update`) Edit
          .content-container
            div !{post.content}
            div 
              div #{post.date}
              div comment #{post.comments.length}
