doctype html
html
  include ./metadata.pug
  body
    .index
      .index__header
        h1 Admin Dashboard
        span Welcome, 
          span.index__admin-name #{user.name}
      .index__main-content
        a.index__create-post-button(href='/create') Post a new blog
        .index__post-container
          for post in posts
            .index__post
              .index__post-header
                div #{post.title} (#{post.comments.length})
                b #{post.ifPublished ? 'Published' : 'Unpublished'}
                div Created at #{new Date(post.createdAt).toLocaleString('en-us',{year: 'numeric', month: '2-digit', day: '2-digit'})}
              .index__post-buttons
                a(href=`/${post._id}/update`) Edit
                a(href=`/${post._id}/delete`) Delete
